@import 'lms/static/sass/partials/base/variables';

$header-bg: rgba(186,186,187,0.75);
$container-bg: #fbfbf9;
$body-bg: #fbfbf9;

$link-color: #a31f34;
$link-color-d1: $link-color;
$link-hover: darken($link-color, 10%);
