body {
  margin: 0px !important;
}

#global-navigation {
    border-bottom: 4px solid #a31f34 !important;
}

ol.nav-global>li>a {
    border-bottom: 4px solid #8a8b8c;
    padding-bottom: 21px !important;
    font-size: 18px;
}

.dashboard .my-courses .course .details .enter-course, .dashboard .my-courses .course .details .enter-course.archived {
  border: 1px solid $link-color !important;
  color: $link-color !important;
  background-color: #fff !important;
}
.dashboard .my-courses .course .details .enter-course:hover, .dashboard .my-courses .course .details .enter-course.archived:hover {
  color: #fff !important;
  background-color: $link-color !important;
}

.header-global .user .dropdown {
  background: transparent !important;
}

.header-global .user a.user-link {
  box-shadow: none !important;
}

.header-global .user a.user-link:active {
  background-color: transparent !important;
}
.dashboard .profile-sidebar {
  border:none !important;
}

.home>header .title>hgroup h2 {
    text-transform: none !important;
}

.user-image-frame {
  display: none !important;
}

.header-global .user .user-link .label-username {
    float: right;
    margin: 11px 5px 15px 15px !important;
}

.heading-left {
  text-align: left !important;
}
