$header-bg: rgba(186,186,187,0.75);
$container-bg: #fbfbf9;
$body-bg: #fbfbf9;

$link-color: #a31f34;
$link-color-d1: $link-color;
$link-hover: darken($link-color, 10%);

#global-navigation {
    border-bottom: 4px solid #a31f34;
}

ol.nav-global>li>a {
    border-bottom: 4px solid #8a8b8c;
    padding-bottom: 21px !important;
    font-size: 18px;
}

.dashboard .my-courses .course .details .enter-course, .dashboard .my-courses .course .details .enter-course.archived {
  border: 1px solid $link-color !important;
  color: $link-color !important;
  background-color: #fff !important;
}
.dashboard .my-courses .course .details .enter-course:hover, .dashboard .my-courses .course .details .enter-course.archived:hover {
  color: #fff !important;
  background-color: $link-color !important;
}
header.global .user .dropdown {
  background: transparent !important;
}
header.global .user a.user-link {
  box-shadow: none;
}
header.global .user a.user-link:active {
  background-color: transparent !important;
}
.dashboard .profile-sidebar {
  border:none !important;
}

.home>header .title>hgroup h2 {
    text-transform: none !important;
}



@media print {
    .course-index {
        display: none;
    }

    .xmodule_display.xmodule_CapaModule div.problem .action div.submission_feedback {
        display: none;
    }

    #footer-edx-v3 {
        display: none;
    }
}