body {
  margin: 0px !important;
}

.global-header{
  border-bottom: 4px solid #a31f34 !important;
}

ol.nav-global>li>a {
  border-bottom: 4px solid #8a8b8c;
  padding-bottom: 10px !important;
  font-size: 18px;
}

.dashboard .my-courses .course .details .enter-course, .dashboard .my-courses .course .details .enter-course.archived {
  border: 1px solid $link-color !important;
  color: $link-color !important;
  background-color: #fff !important;
}

.dashboard .my-courses .course .details .enter-course:hover, .dashboard .my-courses .course .details .enter-course.archived:hover {
  color: #fff !important;
  background-color: $link-color !important;
}

.find-courses {
  background: white !important;

  .courses-container {
    .courses {
      padding: 0 0 0 30px !important;

      .courses-listing .courses-listing-item {
        width: 100% !important;
        margin: 5px 0 10px !important;

        a {
          text-decoration: underline;
        }

        a:not(.btn) {
          color: #003655 !important;
        }

        .course-date {
          color: black;
          display: inline-block;
        }
      }
    }

    .courses.non-credit {
      padding-top: 50px !important;
    }
  }
}

.find-courses .courses-container .courses
.global-header {
  background: $header-bg !important;
}

.global-header .user {
  margin-top: 4px;
}

.global-header .user .user-dropdown {
  background: transparent !important;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-top: 3px !important;
}

.global-header.slim .user .user-dropdown {
  margin-top: 8px !important;
}

.global-header.slim .wrapper-header .wrapper-user-menu {
  margin-top: 4px !important;
}

.global-header .user a.user-link {
  box-shadow: none !important;
}

.global-header .user a.user-link:active {
  background-color: transparent !important;
}
.dashboard .profile-sidebar {
  border:none !important;
}

.home>header .title>hgroup h2 {
  text-transform: none !important;
}

.user-image-frame {
  display: none !important;
}

.global-header .user .user-link .label-username {
  float: right;
  margin: 13px 5px 15px 15px !important;
}

.heading-left {
  text-align: left !important;
}

.window-wrap {
    background-color: $container-bg;
}

.global-header.slim .course-header {
    width: auto !important;
}

.global-header .user .user-link .label-username, .dropdown-menu-container .menu-title {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    max-width: 180px !important;
}

.tab a {
    color: $gray-d1 !important;
    @include transition(all $tmg-f3 linear 0s);
}

.tabs .tab a.active, .tab a:hover {
    border-bottom-color: rgb(6, 86, 131) !important;
    color: rgb(6, 86, 131) !important;
}

@media print {
  .course-index {
      display: none !important;
  }

  .global-header {
      border-bottom: 1px solid #C8C8C8 !important;
  }

  footer#footer-edx-v3 {
      display: none !important;
  }

  .container > div {
      border: none !important;
  }

  .xmodule_display.xmodule_CapaModule div.problem .action {
      display: none !important;
  }

  .course-content .bookmark-button-wrapper {
      display: none !important;
  }

  .wrap-instructor-info .instructor-info-action {
      display: none !important;
  }

  .container .courseware-search-bar {
      display: none !important;
  }

  .course-wrapper .course-content .path, .course-wrapper .courseware-results-wrapper .path {
      margin-top: -12px !important;
      margin-bottom: 2px !important;
  }

  a, a:visited {
      text-decoration: underline !important;
  }

  .xmodule_display.xmodule_CapaModule div.problem-progress {
      display: none !important;
  }

  .course-wrapper .course-content .vert-mod .vert>.xblock-student_view {
      padding: 0 !important;
  }
}
