## mako
<%!
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from django.conf import settings
  from datetime import datetime
%>
<%
  footer = get_footer(is_secure=request.is_secure())
  footer['copyright'] = _(u"\u00A9 {year} MITx Residential. All rights reserved.").format(year=datetime.now().year)
  footer['navigation_links'] = [link for link in footer['navigation_links'] if link.get("name")!="help-center"]

  icp_license = getattr(settings,'ICP_LICENSE', False)
  icp_markup = u" | {icp}".format(icp=icp_license) if icp_license else ""
  brand_home_url = getattr(settings, "MIT_OPEN_LEARNING_SITE_LINK", "https://openlearning.mit.edu/")

  footer_links = {
    "terms_of_service": {"url": None, "title": "Terms of Service"},
    "accessibility_policy": {"url": None, "title": "Accessibility"},
  }
  for link in footer['legal_links']:
      url = link.get('url')
      name = link.get('name')
      if not url or name not in footer_links.keys():
          continue
      footer_links[link["name"]]["url"] = url
%>
<%namespace name='static' file='static_content.html'/>

<%
  footer_css_urls = context.get('footer_css_urls', [])
%>

<%def name="render_footer()">
  <footer class="mit-footer"${(' dir="%s"' % bidi) if bidi else ''}>
    <div class="mit-footer__inner">
      <div class="mit-footer__column mit-footer__column--brand">
        <a class="mit-footer__logo" href="${brand_home_url}">
          <img src="${footer['logo_image']}" alt="${platform_name}" />
        </a>
      </div>
      <div class="mit-footer__column mit-footer__column--links">
        <nav class="mit-footer__nav" aria-label="${_('Footer navigation')}">
          <ul class="mit-footer__menu">
            % for key, value in footer_links.items():
              <li class="mit-footer__menu-item">
                <a href="${value['url']}">${value['title']}</a>
              </li>
            % endfor
          </ul>
        </nav>
        ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <div class="mit-footer__legal">
          <p class="mit-footer__copyright">${footer['copyright']}${icp_markup}</p>
          <p class="mit-footer__trademark">
            ${_(u"edX and Open edX are registered trademarks of edX LLC.")}
          </p>
        </div>
      </div>
      <div class="mit-footer__column mit-footer__column--actions">
        % if context.get('include_language_selector', False):
          <div class="mit-footer__language">
            <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
          </div>
        % endif
        <div class="mit-footer__powered">
          <a href="https://openedx.org" class="mit-footer__powered-link">
            <img src="https://logos.openedx.org/open-edx-logo-tag.png" alt="Open edX" />
          </a>
        </div>
      </div>
    </div>
  </footer>
</%def>

% if uses_bootstrap:
  <div class="container-fluid wrapper-footer">
    ${render_footer()}
  </div>
% else:
  <div class="wrapper wrapper-footer">
    ${render_footer()}
  </div>
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if bidi == 'rtl':
<%static:css group='style-lms-footer-edx-rtl'/>
% else:
<%static:css group='style-lms-footer-edx'/>
% endif

% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
% if footer_js_url:
  <script type="text/javascript" src="${footer_js_url}"></script>
% endif
